@import './reset';
@import './variables/global';
@import './themes/normal';
@import './themes/green';
@import './themes/dark';

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
