.articledetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-self: center;
}

.block {
    margin-top: 16px;
}