



extractedTranslations
extractedTranslations/en/translation.json
extractedTranslations/ru/translation.json
/storybook-static
/build
node_modules
.idea

.loki/report.html
.loki/report.json
/reports
/reports/index.html
reports