access.log

# Игнорируется директория в любой директории проекта
node_modules/

# Игнорируется каталог в корне рабочей директории
/coverage/

# Игнорируются все файлы с расширением sqlite3 в директории db,
# но не игнорируются такие же файлы внутри любого вложенного каталога в db
# например, /db/something/lala.sqlite3
/db/*.sqlite3

# игнорировать все .txt файлы в каталоге doc/
# на всех уровнях вложенности
doc/**/*.txt

.idea/
package-lock.json
.gitignore