.button {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
