.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
  white-space: nowrap;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}
