.BIG {
  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
    margin-bottom: 10px;
  }

  .card {
    margin-bottom: 20px;
  }
}

.SMALL {
  width: 230px;
  transition: opacity 0.2s, transform 0.2s;

  .date {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      opacity: 1;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .img {
    width: 190px;
    height: 190px;
    border-radius: 6px;
    object-fit: cover;
    margin: 16px 0;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
