.code {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bcg);
    color: var(--primary-color);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}