.wrapper {
  display: flex;
  margin-top: 10px;
}

.label {
  margin-right: 10px;
  color: var(--primary-color);
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px 2px 2px 10px;
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}
