.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0232c2;

  //  skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code background
  --code-bcg: #0b0b6a;

  // card
  --card-bg: #0b0b5d;
}
