.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
