.app_green_theme {
    --bg-color: #004d40;
    --inverted-bg-color: #f4fbfa;
    --primary-color: #f4fbfa;
    --secondary-color: #002409;
    --inverted-primary-color: #002409;
    --inverted-secondary-color: #004d40;

    //  skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code background
    --code-bcg: #006a58;
}
