.app_green_theme {
  --bg-color: #004d40;
  --inverted-bg-color: #f1f1f1;
  --primary-color: #cacaca;
  --secondary-color: #002409;
  --inverted-primary-color: #002409;
  --inverted-secondary-color: #004d40;
  --header-color: #fff;
  --text-secondary-color: #cee1d8;
  --text-link-color: #4cc514;

  //  skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code background
  --code-bcg: #006a58;

  // card
  --card-bg: #03453a;

  // listbox
  --listbox-bg: #03453a;
}
