.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0452ff;
  --secondary-color: #0232c2;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --header-color: #333;
  --text-secondary-color: #555;
  --text-link-color: #007bff;

  //  skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code background
  --code-bcg: #e6e6ef;

  // card
  --card-bg: #d4d4d4;

  // listbox
  --listbox-bg: #d4d4d4;
}
