.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #0232c2;
  --secondary-color: #0452ff;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
