.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
