.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.actions {
  margin-left: auto;
}

.dropdown {
  min-width: 100px;

  & > div {
    min-width: 150px;
  }
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.notifications {
  min-height: 150px;
  max-height: 300px;
  width: 500px;
  overflow-y: auto;
}
