// .starrating {
//   width: 100%;
// }

.starIcon {
  fill: none;
}

.normal {
  fill: none;
}

.hovered {
  fill: var(--primary-color);
  cursor: pointer;
}

.isSelected {
  cursor: auto;
  pointer-events: none;
}
