.profilecard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.editBtn {
  margin-left: auto;
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.input {
  margin-bottom: 10px;
}
