.dropdown {
  position: relative;
  display: inline-block;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  z-index: 11;
  border-radius: 8px;
  border: 1px solid var(--primary-color);

  &.bottomLeft {
    top: calc(100% + 5px);
    right: 0;
  }

  &.bottomRight {
    top: calc(100% + 5px);
    left: 0;
  }

  &.topLeft {
    bottom: calc(100% + 5px);
    right: 0;
  }

  &.topRight {
    bottom: calc(100% + 5px);
    left: 0;
  }
}

.item {
  padding: 10px 25px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: auto;
  }
}

.active {
  background: var(--inverted-primary-color);
}

.item:first-child.active {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.item:last-child.active {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
