.applink {
    color: var(--primary-color);
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
